/* Place your CSS styles in this file */


body {
	background-color:#fffddo;
}
h1 { 

	font-family: 'Pixelify Sans', sans-serif;
	font-size:300%;
	colour:#000000;
	border: 2px solid #404040;
}
h2 {
	font-family: 'Pixelify Sans', sans-serif;
	font-size:200%;
	colour:#404040
	border: 2px solid #404040;
}
p {
	font-family: 'Pixelify Sans', sans-serif;
	font-size:200%;
	colour:#000000;
	border: 2px solid #404040;
}
pre {
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 200%;
	border: 2px solid #404040;
}
